html, body, main {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #C3D5F5;
}

body * {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* Nav Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #9ecbe2;
    padding: 0 1em;
    height: 6rem;
}

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* Nav Bar */
nav a {
    margin-right: 1rem;
    padding: 0 2rem;
    font-size: 1.25rem;
}

/* Nav Bar */
#hamburger-menu {
    display:none;
 }
/* Nav Bar */
h1 {
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Nav Bar */
#globe, #profile-pic {
    padding-top: 1rem;
    padding-bottom: 1rem;
    object-fit: cover;
    border-radius: 50%;
    flex-grow: 0;
}

/* Nav Bar */
#globe {
    width: 5rem;
    height: 5rem;
}

/* Nav Bar */
nav #profile-pic {
    margin-left: auto;
    width: 4rem;
    height: 4rem;
}

/* Messaging center */
#middle-area {
    margin: 2%;
    background-color: white;
    overflow-y: auto;
}

#inbox {
    padding-top: 6em;
    display: flex;
    max-height: 75%;
    max-width: 90%;
    border: solid;
    flex-grow: 0;
    flex-shrink: auto;
    height: 100%;
    width: 100%;
}

/* profile picture */
#profile-icon {
    display: flex;
    align-items: center;
    margin-left: 0;
}

/* profile picture */
#profile-pic {
    height: 2em;
    border-radius: 50%;
}

/* scroll through people in inbox */
#list-viewer {
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    border-right: solid black;
    overflow-y: auto;
}

/* contains "inbox" text (h1) and compose icon (.compose-message) */
#inbox-heading {
    border-bottom: solid;
    padding-top:0;
    position: sticky;
}

.message-list {
    margin-top: 2em;
    top: 92.5px;
    border-bottom: solid;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}

/* the container for the message cards (.message-card) 
.message-list {
    margin-top: 2em;
    top: 92.5px;
    border-bottom: solid;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}

/* the container for the message cards (.message-card) */
#middle-left .message-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    
}

/* each individual message. contains a profile picture (#profile-icon), identifiers of the people (#identifiers) (name (h2), identity (h3), and snipet of last message (p)) */
.message-card {
    border-bottom: solid;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-direction: row;
}

.message-card .profile-pic {
    padding: 0 10px;
}

.message-card .identifiers {
   display:block;
    overflow: hidden;
    white-space: nowrap;

}

.message-card .last-text-date {
    padding: 0px;
    margin: 0px;

}

.message-card #title {
    font-style: italic;
}

#profile-icon p {
    font-weight: 500;
    font-size: 1.5rem;
}
.message-card .profile-pic {
    padding: 0 10px;
}

.message-card .identifiers {
   display:block;
    overflow: hidden;
    white-space: nowrap;

}

.message-card .last-text-date {
    padding: 0px;
    margin: 0px;

}


/* scroll through conversation and send message */
.middle-right {
    background-color: white;
    border-right: solid black;
    overflow: none;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.message-heading {
    border-bottom: solid;
    margin-bottom: 5px;
    position: sticky;
    top: 20px;
    background-color: white;
    height:fit-content;
    margin-bottom: 20px;
    text-align: center;
}

.message-heading h2 {
    font-weight: bold;
}

.message-heading h3 {
    padding: 0;
}

.messaging {
    display: flex;
    flex-flow: column nowrap;
    overflow: none;
    padding: 2rem;
}

.message-thread {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
    height: 100%;

}

.back-arrow {
    display: none;
}
/* date message was sent */
.middle-right #date {
    text-align: center;
    border-color: lightgray;
    display: block;
}

/* message sent from other person, on left side of chat.
   contains a profile picture (#profile-icon) and a message (.message) */
.other-messages {
    display: flex;
    align-self: flex-start;
}

/* message sent from other person */
.other-messages .message {
    background-color: rgb(233, 233, 233);
    border-radius: 14px;
    max-width: 75%;
    padding: 0 1em;
    margin-right: 2.5em;
    margin-top: 10px;
    padding: 0px 10px;
}

/* ther person profile pic */
.other-messages #profile-pic {
    height: 2.25em;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 3px;
}

/* message sent from user, on right side of chat.
   contains a profile picture (#profile-icon) and a message (.message) */
.my-messages {
    display: flex;
    justify-content: flex-end;
} 

.my-messages .message {
    background-color: #C3D5F5;
    border-radius: 14px;
    max-width: 75%;
    margin-left: 2.5em;
    margin-top: 10px;
    padding: 0px 10px;
}

.my-messages #profile-pic {
    height: 2.25em;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 3px;
}

/* container for sending a message.
   contains a input section (.to-send) and a button (.btn) */
#draft-messages {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-style: solid none none none;
    border-color: whitesmoke;  
    justify-content: space-evenly;
}

#draft-message input {
    border-radius: 18px;
    border: 2px solid whitesmoke;
    padding-top: 1%;
    margin-top: 2%;
    margin-left: 3%;
    padding-bottom: 1%;
    width: 5;
    height: 3em;
    background-color: whitesmoke;
    font-size: 15px;
}

#draft-message .btn {
    border-radius: 18px;
    border: 2px solid rgb(116, 209, 116);
    padding-top: 1%;
    margin-top: 2%;
    padding-bottom: 1%;
    width: 10%;
    background-color: rgb(116, 209, 116);
}

@media (max-width: 598px) {
    .middle-right {
        display: none;
    }

    #middle-left {
        flex-basis: 100%;
    }

    nav {
        display:none;
    }

    #hamburger-menu {
        display:block;
        color:white;
    }

}

@media (max-width: 768px) {
    #hamburger-menu {
        display:block;
        color:white;
    }

    nav {
        display:none;
    }

    .btn {
        font-size: 12px;
    }
    input {
        font-size: 12px;
    }

    .other-messages #profile-pic {
        height: 1.5em;
    }

    .my-messages #profile-pic {
        height: 1.5em;
    }
}}