html, body, main {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #C3D5F5;
}

body * {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Nav Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #9ecbe2;
    padding: 0 1em;
    height: 6rem;
}

/* Nav Bar */
nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* Nav Bar */
nav a {
    margin-right: 1rem;
    padding: 0 2rem;
    font-size: 1.25rem;
}

/* Nav Bar */
h1 {
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Nav Bar */
#globe, #profile-pic {
    padding-top: 1rem;
    padding-bottom: 1rem;
    object-fit: cover;
    border-radius: 50%;
    flex-grow: 0;
}

/* Nav Bar */
#globe {
    width: 5rem;
    height: 5rem;
}

/* Nav Bar */
nav #profile-pic {
    margin-left: auto;
    width: 4rem;
    height: 4rem;
}

/* Messaging center */
#middle-area {
    margin: 2%;
    background-color: lightgreen;
    display: flex;
    max-height: 75%;
    max-width: 90%;
}

/* profile picture */
#profile-icon {
    display: flex;
    align-items: center;
    margin-left: 0;
}

/* profile picture */
#profile-pic {
    height: 2em;
    border-radius: 50%;
}

/* scroll through people in inbox */
#middle-left {
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    margin-right: 2%;
    border-right: solid lightgray;
    overflow-y: auto;
    border-right: solid;
}

/* contains "inbox" text (h1) and compose icon (.compose-message) */
#inbox-heading {
    border-bottom: solid;
    margin-top: 36px;
    position: sticky;
}

/* the bar to search for people in messages. 
   contians the search icon (.search-icon) and input (.search) */

#search-bar {
    flex-basis: 90%;
    position: sticky;
}


/* the container for the message cards (.message-card) 
.message-list {
}
*/

/* each individual message. contains a profile picture (#profile-icon), identifiers of the people (#identifiers) (name (h2), identity (h3), and snipet of last message (p)) */
.message-card {
    border: solid;
    display: flex;
}

.message-card #profile-icon {
    float:left;
    padding:5px;
}

/* scroll through conversation and send message */
.middle-right {
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 75%;
    margin-right: 2%;
    border-right: solid lightgray;
    overflow-y: auto;
}

.message-heading {
    border-bottom: solid;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.message-heading h2 {
    font-weight: bold;
}

.message-heading h3 {
    padding: 0;
    
}

.back-arrow {
    display: none;
}
/* date message was sent */
time {
    border-bottom: dashed;
    border-top: dashed;
    text-align: center;
    padding-left: 5px;
    border-color: lightgray;
    display: flex;
}

/* message sent from other person, on left side of chat.
   contains a profile picture (#profile-icon) and a message (.message) */
.other-messages {
    display: flex;
    float: left;
}

/* message sent from other person */
.other-messages .message {
    background-color: rgb(233, 233, 233);
    border-radius: 10%;
    max-width: 75%;
    margin-right: 2em;
    margin-top: 10px;
    padding: 0px 10px;
}

/* ther person profile pic */
.other-messages #profile-pic {
    height: 1.5em;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 3px;
}

/* message sent from user, on right side of chat.
   contains a profile picture (#profile-icon) and a message (.message) */
.my-messages {
    display: flex;
    float:right;
} 

.my-messages .message {
    background-color: #C3D5F5;
    border-radius: 10%;
    max-width: 75%;
    margin-left: 2em;
    margin-top: 10px;
    padding: 0px 10px;
}

.my-messages #profile-pic {
    height: 1.5em;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 3px;
}

/* container for sending a message.
   contains a input section (.to-send) and a button (.btn) */
#draft-messages {
    padding-bottom: 1rem;
    border-style: solid none none none;
    border-color: whitesmoke;   
}

input {
    border-radius: 18px;
    border: 2px solid whitesmoke;
    padding-top: 1%;
    margin-top: 2%;
    margin-left: 3%;
    padding-bottom: 1%;
    width: 73%;
    height: 20px;
    background-color: whitesmoke;
    font-size: 13px;
}

.btn {
    border-radius: 18px;
    border: 2px solid rgb(116, 209, 116);
    padding-top: 1%;
    margin-top: 2%;
    padding-bottom: 1%;
    width: 18%;
    background-color: rgb(116, 209, 116);
}

@media (max-width: 598px) {
    .middle-right {
        display: none;
    }

    #middle-left {
        flex-basis: 100%;
    }
}