html, body, main {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #C3D5F5;
}

body * {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Messaging center */
#inbox {
    padding-top: 6em;
    display: flex;
    flex-grow: 0;
    flex-shrink: auto;
    height: 100%;
    width: 100%;
}

/* profile picture */
#profile-icon {
    display: flex;
    align-items: center;
    margin-left: 0;
}

/* profile picture */
#profile-pic {
    height: 2em;
    border-radius: 50%;
}

/* scroll through people in inbox */
#list-viewer {
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    border-right: solid lightgray;
    overflow-y: auto;
}

/* contains "inbox" text (h1) and compose icon (.compose-message) */
#inbox-heading {
    padding: 0 2rem;
}

#inbox-heading h4 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    margin-top: 1.5rem;
}

.message-list {
    margin-top: 2em;
}

/* the container for the message cards (.message-card) 
.message-list {
}
*/

/* each individual message. contains a profile picture (#profile-icon), identifiers of the people (#identifiers) (name (h2), identity (h3), and snipet of last message (p)) */
.message-card {
    border: solid;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.message-card #title {
    font-style: italic;
}

#profile-icon p {
    font-weight: 500;
    font-size: 1.5rem;
}

/* scroll through conversation and send message */
.middle-right {
    background-color: white;
    border-right: solid lightgray;
    overflow: none;
    height: 100%;
    width: 100%;
}

.message-heading {
    border-bottom: solid;
    margin-bottom: 20px;
    text-align: center;
}

.message-heading h2 {
    font-weight: bold;
}

.message-heading h3 {
    padding: 0;
    
}

.messaging {
    display: flex;
    flex-flow: column nowrap;
    overflow: none;
    padding: 2rem;
}

.message-thread {
    flex: 0 1 auto;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: scroll;
    height: 100%;
}

.back-arrow {
    display: none;
}
/* date message was sent */
time {
    text-align: center;
    padding-left: 5px;
    display: flex;
}

/* message sent from other person, on left side of chat.
   contains a profile picture (#profile-icon) and a message (.message) */
.other-messages {
    display: flex;
    align-self: flex-start;
}

/* message sent from other person */
.other-messages .message {
    background-color: rgb(233, 233, 233);
    border-radius: 14px;
    max-width: 75%;
    padding: 0 1em;
}

/* ther person profile pic */
.other-messages #profile-pic {
    height: 1.5em;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 3px;
}

/* message sent from user, on right side of chat.
   contains a profile picture (#profile-icon) and a message (.message) */
.my-messages {
    display: flex;
    justify-content: flex-end;
} 

.my-messages .message {
    background-color: #C3D5F5;
    border-radius: 14px;
    max-width: 75%;
    margin-left: 2em;
    margin: 1.5rem;
    padding: 0 1rem;
}

.my-messages #profile-pic {
    height: 1.5em;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 3px;
}

/* container for sending a message.
   contains a input section (.to-send) and a button (.btn) */
#draft-messages {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-style: solid none none none;
    border-color: whitesmoke;   
    justify-content: space-evenly;
}

#draft-message input {
    border-radius: 18px;
    border: 2px solid whitesmoke;
    padding-top: 1%;
    margin-top: 2%;
    margin-left: 3%;
    padding-bottom: 1%;
    width: 5;
    height: 3em;
    background-color: whitesmoke;
    font-size: 13px;
}

#draft-message .btn {
    border-radius: 18px;
    border: 2px solid rgb(116, 209, 116);
    padding-top: 1%;
    margin-top: 2%;
    padding-bottom: 1%;
    width: 18%;
    background-color: rgb(116, 209, 116);
}

@media (max-width: 598px) {
    .middle-right {
        display: none;
    }

    #middle-left {
        flex-basis: 100%;
    }
}