* {
    box-sizing: border-box;
}

html, body, main {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: #C3D5FF;
}

body * {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.set-up {
    background-color: #C3D5FF;
}

header {
    height: 6rem;
    position: fixed;
    color: white;
    background-color: #C3D5FF;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #9ecbe2;
    padding: 0 1em;
    height: 6rem;
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav a {
    margin-right: 1rem;
    padding: 0 2rem;
    font-size: 1.25rem;
}

h1 {
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#globe, #profile-pic {
    padding-top: 1rem;
    padding-bottom: 1rem;
    object-fit: cover;
    border-radius: 50%;
    flex-grow: 0;
}

#globe {
    width: 5rem;
    height: 5rem;
}

nav #profile-pic {
    margin-left: auto;
    width: 4rem;
    height: 4rem;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

#left form, #intro-description, .get-connected   S {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

/* CSS for left side of sign in/up page */
#left {
    left: 0
}

#sign-in-up *, .get-connected * {
    color: #fff;
}

h2 {
    font-size: 45px;
    text-align: center;

}

h3 {
    font-size: 2rem;
    font-weight: bold;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

#sign-in-up h2 {
    width: 70%;
    margin-top: 22.5%;
}

input, #log-in-button {
    background-color: #C3D5FF;
}

input, .btn{
    border-radius: 18px;
    border: 2px solid #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 60%;
}

#left input {
    padding-left: 2.5%;
}

#email-input {
    margin-top: 5%;
}

#password-input {
    margin-top: 2.5%;
}

::placeholder {
    color: #fff;
    font-size: 16px;
}

#forgot-password, #register {
    color: #97b2f9;
}

#log-in-button {
    margin-top: 12%;
}

#dont-have-account {
    margin-top: auto;
    margin-bottom: 4%;
}


/* CSS for right side of sign in/up page */
#right {
    background-color: #fff;
    right: 0;
    background: linear-gradient(0deg, rgba(151, 178, 229, 0.65) 0%, rgba(151, 178, 229, 0.65) 100%), url(../img/background.jpg), lightgray 100% / cover no-repeat;
    background-size: cover;
    border-left: solid 18px #fff;
    border-top-left-radius: 192px;
    border-bottom-left-radius: 192px;
}

#intro-description {
    left: 50%;
    margin-top: 25%;
    margin-left: 25%;
    margin-right: 25%;
}

#learn-more-btn {
    margin-top: 7.5%;
}

.get-connected {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CSS for Get Connected page */
.get-connected * {
    width: 45%;
}

.get-connected ::placeholder {
    text-align: center;
}

.get-connected h2 {
    margin-top: 5%;
}

.get-connected input {
    margin-top: 3%;
}

.get-connected div {
    margin-top: 15%;
    background-color: #97b2f0;
}

/* CSS for hiding elements */
.hidden {
    display: none;
}

/* Posting interface */
#postings-window {
    display: flex;
    flex-flow: column;
}

/* filter bar */
.parent {
    position: fixed;
    width: 100%;
    margin: auto;
}

.filter-bar {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-bottom: solid lightgray;
    padding: 1em;
    margin-top: 6em;
    gap: 1.5em;
}

.filter-bar #search-bar{
    flex-basis: 10rem;
    border-radius: 1em;
    background-color: rgb(224, 224, 224);
    color: black;
    padding: .5rem;
}

#search-bar::placeholder {
    color: gray;
}

.filter-bar span {
    padding: .5em;
}

.filter {
    flex-basis: 10rem;
    border-radius: 1em;
    background-color: rgb(224, 224, 224);
    padding: .5rem;
}

#post-viewer {
    display: flex;
    flex-flow: column;
    padding-top: 14rem;
    height: 100%;
}

#posting-list {
    background-color: white;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 20rem;
    border-right: solid lightgray;
    height: 100vh;
    overflow: visible;
    height: auto;
}


#post-expanded {
    display: none;
}


/* Posting Card */
.posting-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 2em;
    background-color: white;
    border-bottom: solid rgb(215, 215, 215);
}

.posting-card h4 {
    margin: 0;
}

.posting-card .tag {
    flex-shrink: 10;
}

.tag-container {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
}

.tag {
    height: .5rem;
    flex-shrink: 0;
    margin: .2rem;
    padding: .75rem;
    border-radius: 1em;
    border-style: solid;
    border-width: .2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


    /*referenced from this Medium article
    medium.com/@bikramkawan/css-alternating-colors-using-nth-child-for-three-elements-scss-370d636d4f40*/
    &:nth-child(3n-1) {
        background-color: #8c7ca1;
        border-color: #412d5a;
    }
    &:nth-child(3n-2) {
        background-color: #797cb5;
        border-color: #303259;
    }
    &:nth-child(3n-3) {
        background-color: #9ecbe2;
        border-color: #2a4959;
    }
}

.tag span {
    font-weight: 600;
    font-size: 1rem;
}

#profile-icon {
    display: flex;
    align-items: center;
    margin-left: 0;
}

#profile-pic {
    height: 4em;
    border-radius: 50%;
    margin-right: .75rem;
}

@media (max-width: 410px) {
    #post-viewer {
        padding-top: 17em;
    }
}

@media (min-width: 598px) {
    #posting-list {
        overflow: auto;
    }

    #post-viewer {
        flex-flow: row;
        overflow: hidden;
        padding-top: 10rem;
    }

    /* Posting Expanded */
    #post-expanded {
        display: flex;
        flex-direction: column;
        background-color: rgb(245, 247, 247);
        padding: 2.5rem;
        height: 100%;
        overflow: auto;
    }

    .metadata {
        font-style: italic;
        font-size: .9rem;
    }

    #btn-container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }

    .btn {
        flex-shrink: 0;
        justify-content: center;
        text-align: center;
        justify-content: center;
        vertical-align: center;
        font-weight: bold;
        background-color: #8c7ca1;
        color:#000000;
        margin: .5rem;
        width: 16em;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #9ecbe2;
    padding: 0 1em;
    height: 6rem;
}

nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

nav a {
    margin-right: 1rem;
    padding: 0 2rem;
    font-size: 1.25rem;
}

h1 {
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#globe, #profile-pic {
    padding-top: 1rem;
    padding-bottom: 1rem;
    object-fit: cover;
    border-radius: 50%;
    flex-grow: 0;
}

#globe {
    width: 5rem;
    height: 5rem;
}

nav #profile-pic {
    margin-left: auto;
    width: 4rem;
    height: 4rem;
}
/*CSS for Profile Page*/
.profile-body {
    color: white;
}