
body {
    display: inline;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eff8fa;
}
header {
    color: #18214b;
    text-align: center;
}

header p {
    padding: 0 1em;
}

main {
    margin: 1em;
}

.card {
    margin: 1rem;
    padding: .5rem 1.5rem;
}

.card h2 {
    color: #2b4a88;
}

@media (min-width: 598px) {
    .container {
        margin-right: 2em;
    }
}
