#splash {
  height: 100%;
  justify-content: space-evenly;
}

#splash, #splash input, #splash button {
  background-color: #b1c5f7;
}

#splash h2 {
  font-size: 3rem;
}

#splash ::placeholder, #splash  h2 {
  text-align: center;
}

#splash, #splash form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#splash ::placeholder, #splash, #splash button, #splash input {
  color: white;
}

#splash input {
  width: 125%;
}

#splash button {
  width: 75%;
}

#splash input, #splash #log-in-button {
  border: 2px solid #fff;
  border-radius: 18px;
}

#splash #password, #splash #log-in-button {
  margin-top: 15%;
}

#splash #forgot-password, #splash #dont-have-account {
  margin-top: 20%;
}

@media (min-width: 768px) {
  #splash input {
    width: 200%;
  }

  #splash button {
    width: 100%;
  }

  #splash #password, #splash #log-in-button, #splash #forgot-password, #splash #dont-have-account {
    margin-top: 25%;
  }
}

