html, body, #root, .App{
    height: 100vh;
  }
  
  .App {
    display: flex;
    flex-direction: column;
  }
  
  .page {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* page div including filter bar */
  .home {
    overflow: hidden;
  }
  
  /* parent content reactstrap Row element */
  .postings-view {
    height: 100%;
    overflow: auto;
    border-top: solid lightgray;
  }
  
  /* col 1 reactstrap Col with child div containing reactstrap Cards */
  .col.posting-list-container {
    overflow-y: auto;
    max-width: 30em;
  }

   /* col 2 reactstrap Col with one child reactstrap Card elem*/
   .row .col.posting-window {
    overflow-y: auto;
  }